<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.haxe.extension.parse.parsewrapper" >
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	
	<permission android:protectionLevel="signature"
    android:name="::APP_PACKAGE::.permission.C2D_MESSAGE" />
	<uses-permission android:name="::APP_PACKAGE::.permission.C2D_MESSAGE" />
	
	<application>
		
		<service android:name="com.parse.PushService" />
		
		<receiver android:name="com.parse.ParseBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>
		
		<receiver android:name="com.parse.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />

				<!--
				IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
				-->
				<category android:name="::APP_PACKAGE::" />
			</intent-filter>
		</receiver>
		
		<receiver android:name="org.haxe.extension.parse.ParseReceiver" android:exported="false">
			<intent-filter>
				<action android:name="com.parse.push.intent.RECEIVE" />
				<action android:name="com.parse.push.intent.DELETE" />
				<action android:name="com.parse.push.intent.OPEN" />
			</intent-filter>
		</receiver>
		
		<meta-data android:name="com.parse.push.gcm_sender_id"
  			android:value="id:::ENV_GCM_SENDER_ID::" />
	</application>
	
</manifest>